= form_tag (user_signed_in? ? user_messages_path : company_messages_path), method: :post , class: "form-horizontal" do
  - if @receipt and @receipt.errors.any?
    .error
      %h2
        = pluralize(@receipt.errors.count, "error")
        prohibited this message from being sent:
      %ul
        - @receipt.errors.full_messages.each do |msg|
          %li
            = msg

  = hidden_field_tag :receiver, @recipient.id
  = hidden_field_tag :job_listing_id, @job_listing.id

  .control-group
    = label_tag t('mailboxer.form.recipients'), nil, class: 'control-label'
    .controls
      = text_field_tag :recipient_name, @recipient.name, disabled: true

  - if @job_listings
    .control-group
      = label_tag "Job Listing", nil, class: 'control-label'
      .controls
        = select_tag "job_listing_id", options_from_collection_for_select(@job_listings, "id", "job_title")

  .control-group
    = label_tag t('mailboxer.form.subject'), nil, class: 'control-label'
    .controls
      = text_field_tag :subject, job_listing_title(@job_listing), class: 'subject-message'

  .control-group
    = label_tag t('mailboxer.form.body'), nil, class: 'control-label'
    .controls
      - if user_signed_in?
        = text_area_tag :body, default_job_listing_user(@job_listing, @recipient, @user), class: 'ckeditor'
      - else
        = text_area_tag :body, default_job_listing_company(@job_listing, @company, @recipient), class: 'ckeditor'

  .control-group
    .controls
      = submit_tag t('mailboxer.send'), name: :send_message, class: "btn btn-success"
