%h2.colorfont
  = t('mailbox.message.new')

= form_tag user_messages_path, method: :post , :class => "new_message" do
  - if @receipt and @receipt.errors.any?
    .error
      %h2
        = pluralize(@receipt.errors.count, "error")
        prohibited this message from being sent:
      %ul
        - @receipt.errors.full_messages.each do |msg|
          %li
            = msg
  = label_tag t('mailboxer.form.recipients')

  = hidden_field_tag :_recipients, @recipient.try(:id), "data-recipient-name" => @recipient.try(:name)

  = label_tag t('mailboxer.form.subject')

  = text_field_tag :subject, nil

  = label_tag t('mailboxer.form.body')

  .ck_editor
    = text_area_tag :body, nil,:rows =>6, :cols=> 53, :maxlength => 5000

  = submit_tag t('mailboxer.send'), :name => :send_message, :class => "btn pull-right"
