= form_tag (user_signed_in? ? user_messages_path : company_messages_path), method: :post , class: "form-horizontal" do
  .form-group
    .col-sm-offset-10
      - if @recipient.is_a?(User)
        = link_to "#{@recipient.name.possessive} Resume", resume_user_path(id: @recipient.id), class: 'btn btn-info', target: '_blank'
      - else
        = link_to "#{@recipient.name.possessive} Overview", company_path(id: @recipient.id), class: 'btn btn-info', target: '_blank'

  - if @receipt and @receipt.errors.any?
    .error
      %h2
        = pluralize(@receipt.errors.count, "error")
        prohibited this message from being sent:
      %ul
        - @receipt.errors.full_messages.each do |msg|
          %li
            = msg

  = hidden_field_tag :receiver, @recipient.id
  = hidden_field_tag :job_listing_id, @job_listing.id

  .form-group
    .col-sm-10.col-sm-offset-2{style: 'margin-bottom: 10px;'}
      - if @recipient.is_a?(User)
        = image_tag(@recipient.profile_image.small, class: 'img-rounded')
      - else
        = image_tag(@recipient.logo.small, class: 'img-rounded')
    .col-sm-10.col-sm-offset-2
      = text_field_tag :recipient_name, @recipient.name, disabled: true, class: 'form-control'

  - if @job_listings
    .form-group
      = label_tag "Job Listing", nil, class: 'col-sm-2 control-label'
      .col-sm-10
        = select_tag "job_listing_id", options_from_collection_for_select(@job_listings, "id", "job_title")

  .form-group
    = label_tag t('mailboxer.form.subject'), nil, class: 'col-sm-2 control-label'
    .col-sm-10
      = text_field_tag :subject, job_listing_title(@job_listing), class: 'form-control'

  .form-group
    = label_tag t('mailboxer.form.body'), nil, class: 'col-sm-2 control-label'
    .col-sm-10
      - if user_signed_in?
        = text_area_tag :body, default_job_listing_user(@job_listing, @recipient, @user), class: 'ckeditor form-control'
      - else
        = text_area_tag :body, default_job_listing_company(@job_listing, @company, @recipient), class: 'ckeditor form-control'

  - if company_signed_in?
    = hidden_field_tag 'interview[company_id]', current_company.id
    = hidden_field_tag 'interview[user_id]', @recipient.id
    = hidden_field_tag 'interview[job_listing_id]', @job_listing.id
    %h3
      Interview Setup
      %small.text-error
        This is an optional step, leave blank if you want to schedule an interview later.
    .form-group
      = label_tag 'Schedule Interview Date', nil, class: 'col-sm-2 control-label'
      .col-sm-10
        .row
          .col-sm-4
            = select_tag "date[year]", options_for_select([Date.today.year, Date.today.year + 1], Date.today.year), class: 'form-control'
          .col-sm-4
            = select_tag "date[month]", options_for_select((1..12).map {|m| [Date::MONTHNAMES[m], m]}, Date.today.month), class: 'form-control'
          .col-sm-4
            = select_tag "date[day]", options_for_select((1..31).to_a, Date.today.day), class: 'form-control'
    .form-group
      = label_tag 'Schedule Interview Time', nil, class: 'col-sm-2 control-label'
      .col-sm-10
        .row
          .col-sm-4
            = select_hour(Time.now.in_time_zone("Eastern Time (US & Canada)").hour, {field_name: "hour", ampm: true}, {class: 'form-control'})
          .col-sm-4
            = select_minute(Time.now.in_time_zone("Eastern Time (US & Canada)").min, {field_name: "minute"}, {class: 'form-control'})
          %span.help-block
            %strong
              Eastern Standard Time
    .form-group
      = label_tag 'Approximate Duration', nil, class: 'col-sm-2 control-label'
      .col-sm-10
        .input-group
          = number_field_tag 'Duration', nil, name: 'interview[duration]', in: 1..12, class: 'form-control'
          %span.input-group-addon hour(s)
    .form-group
      = label_tag 'Location', nil, class: 'col-sm-2 control-label'
      .col-sm-10
        = text_field_tag 'location', nil, class: 'form-control', name: 'interview[location]'
    .form-group
      = label_tag 'Interview Details', nil, class: 'col-sm-2 control-label'
      .col-sm-10
        = text_area_tag 'Interview Details', nil, class: 'form-control', name: 'interview[description]'
  .form-group
    .col-sm-10.col-sm-offset-2
      = submit_tag t('mailboxer.send'), name: :send_message, class: "btn btn-success col-sm-12"

  - if company_signed_in?
    %h3 Interview Schedule
    .form-group
      .col-sm-10.col-sm-offset-2
        #full-calendar
