- is_company = message.sender.is_a?(Company)
.container
  = div_for(message) do
    .media
      - if is_company
        = link_to(image_tag(message.sender.get_logo('small'), |
                              title: message.sender.name, |
                              alt: message.sender.name, class: 'img-rounded media-object img-small'), |
                     company_path(id: message.sender.id), class: 'pull-left') |
      - else
        = link_to(image_tag(message.sender.profile_image.small, |
                              title: message.sender.name, |
                              alt: message.sender.name, class: 'img-rounded media-object'), |
                     resume_user_path(id: message.sender.id), class: 'pull-left') |
      .media-body.well
        %h4.media-heading
          #{"From #{message.sender.name}"}
          %small= t('time.ago', time: time_ago_in_words(message.updated_at))
        .word-break.pre-message
          = raw(message.body)
