.media{class: "media #{conversation.is_unread?(current_company) ? 'info' : @box.eql?('trash') ? 'error' : ''}"}
  = link_to image_tag(last_message.get_logo('small'), alt: last_message.name, title: last_message.name, class: 'media-object img-rounded img-small'), company_path(id: last_message.id), class: 'pull-left'
  .media-body
    .pull-right.media-heading
      - unless @box.eql?('trash')
        = render partial: 'action_conversation', locals: { conversation: conversation }
      - else
        = link_to 'Un-trash', untrash_company_conversation_path(id: conversation.id, company_id: current_company.id), method: :patch, class: 'btn btn-success'
    %h4.media-heading
      Conversation With: #{link_to conversation_with.name, resume_user_path(id: conversation_with.id)}
    %h4.media-heading
      Subject: #{link_to(truncate(conversation.subject, length: 55), company_conversation_path(company_id: current_company.id, id: conversation.id, box: @box))}
    .col-md-8.well
      = raw(truncate(strip_tags(conversation.last_message.body), :length => 100))
