%li
  = link_to 'Inbox', company_conversations_path(box: 'inbox'), class: "#{'active' if params[:box] == 'inbox'}"
  %span.divider /
%li
  = link_to 'Sentbox', company_conversations_path(box: 'sentbox'), class: "#{'active' if params[:box] == 'sentbox'}"
  %span.divider /
%li
  = link_to 'Trash', company_conversations_path(box: 'trash'), class: "#{'active' if params[:box] == 'trash'}"
