.pull-right
  - if @box.eql?('trash')
    - if user_signed_in?
      = link_to 'Un-trash', untrash_user_conversation_path(id: conversation.id, user_id: current_user.id), method: :put, class: 'btn btn-success'
    - elsif company_signed_in?
      = link_to 'Un-trash', untrash_company_conversation_path(id: conversation.id, company_id: current_company.id), method: :put, class: 'btn btn-success'
  - unless @box.eql? 'trash'
    - if current_user
      = link_to('Trash', user_conversation_path(user_id: current_user.id, id: conversation.id, location: 'conversation', box: @box), |
             confirm: 'Are you sure you want to move this conversation to the trash?', method: :delete, class: 'btn btn-danger') |
    - elsif current_company
      = link_to('Trash', company_conversation_path(company_id: current_company.id, id: conversation.id, location: 'conversation', box: @box), |
             confirm: 'Are you sure you want to move this conversation to the trash?', method: :delete, class: 'btn btn-danger') |
%h4= t("message.participants")
- company = nil
.participants
  - conversation.recipients.each do |recp|
    - if recp.is_a?(User)
      = link_to image_tag(recp.profile_image.small, title: recp.name, alt: recp.name, class: 'img-rounded', size: '100x100'), resume_user_path(id: recp.id)
    - elsif recp.is_a?(Company)
      - company = recp
      = link_to image_tag(recp.get_logo('small'), title: recp.name, alt: recp.name, class: 'img-rounded', size: '100x100'), company_path(id: recp.id)
- if user_signed_in?
  %h5= link_to conversation.subject, company_job_listing_path(company_id: company.id, id: conversation.job_listing_id)
- else
  %h5= link_to conversation.subject, company_job_listing_path(company_id: current_company.id, id: conversation.job_listing_id), target: '_blank'

.col-md-12
  - unless @box.eql? 'trash'
    - if current_company
      = form_tag company_conversation_path(id: conversation.id, company_id: current_company.id), method: :put, class: "cont_conversation" do
        - if @receipt and @receipt.errors.any?
          .error
            %h2
              #{pluralize(@receipt.errors.count, "error")}
              prohibited this message from being sent:
            %ul
            - @receipt.errors.full_messages.each do |msg|
              %li
                = msg
        .form-group
          = text_area_tag :body, nil, rows: 6, cols: 53, class: "required form_tag ckeditor form-control"
        .actions
          = submit_tag t('mailboxer.reply'), name: :reply_all, class: "btn btn-success"
    - elsif current_user
      = form_tag user_conversation_path(id: conversation.id, user_id: current_user.id), method: :put, class: "cont_conversation" do
        - if @receipt and @receipt.errors.any?
          .error
            %h2
              #{pluralize(@receipt.errors.count, "error")}
              prohibited this message from being sent:
            %ul
            - @receipt.errors.full_messages.each do |msg|
              %li
                = msg
        .editor
          = text_area_tag :body, nil, rows: 6, cols: 53, class: "required form_tag ckeditor"
        %p
          %br
          = submit_tag t('mailboxer.reply'), name: :reply_all, class: "btn btn-success"
  %hr
  - if @receipts
    - @receipts.each do |receipt|
      = render receipt.message
