.pull-left
  %h4= t("message.participants")
  .participants
    - conversation.recipients.each do |recp|
      - if recp.is_a?(User)
        = link_to image_tag(recp.profile_image, title: recp.name, alt: recp.name, size: '50x50', class: 'img-rounded'), resume_user_path(id: recp.id)
      - elsif recp.is_a?(Company)
        = link_to image_tag(recp.get_logo, size: '50x50', title: recp.name, alt: recp.name, class: 'img-rounded'), company_path(id: recp.id)
  %h3= conversation.subject
.pull-right
  - unless @box.eql? 'trash'
    - if current_user
      = link_to('Delete', user_conversation_path(user_id: current_user.id, id: conversation.id, location: 'conversation', box: @box), |
             confirm: t('mailboxer.delete_confirm', object: conversation.subject), method: :delete, class: 'btn btn-danger') |
    - elsif current_company
      = link_to('Delete', company_conversation_path(company_id: current_company.id, id: conversation.id, location: 'conversation', box: @box), |
             confirm: t('mailboxer.delete_confirm', object: conversation.subject), method: :delete, class: 'btn btn-danger') |

.span12
  - unless @box.eql? 'trash'
    - if current_company
      = form_tag company_conversation_path(id: conversation.id, company_id: current_company.id), method: :put, class: "cont_conversation" do
        - if @receipt and @receipt.errors.any?
          .error
            %h2
              #{pluralize(@receipt.errors.count, "error")}
              prohibited this message from being sent:
            %ul
            - @receipt.errors.full_messages.each do |msg|
              %li
                = msg
        .editor
          = text_area_tag :body, nil, rows: 6, cols: 53, class: "required form_tag span12"
        .actions
          = submit_tag t('mailboxer.reply'), name: :reply_all, class: "btn btn-success"
    - elsif current_user
      = form_tag user_conversation_path(id: conversation.id, user_id: current_user.id), method: :put, class: "cont_conversation" do
        - if @receipt and @receipt.errors.any?
          .error
            %h2
              #{pluralize(@receipt.errors.count, "error")}
              prohibited this message from being sent:
            %ul
            - @receipt.errors.full_messages.each do |msg|
              %li
                = msg
        .editor
          = text_area_tag :body, nil, rows: 6, cols: 53, class: "required form_tag span12"
        .actions
          = submit_tag t('mailboxer.reply'), name: :reply_all, class: "btn btn-success"
  %ul
  - @receipts.each do |receipt|
    = render receipt.message
