- last_message = conversation.last_sender
- if current_company
  - conversation_with = conversation.participants.detect { |conv| conv.is_a?(User) }
  - if last_message == current_company
    .media
      = link_to image_tag(last_message.logo, size: '100x100', alt: last_message.name, title: last_message.name, class: 'media-object img-rounded'), company_path(id: last_message.id), class: 'pull-left'
      .media-body
        .pull-right.media-heading
          - unless @box.eql?('trash')
            = render partial: 'action_conversation', locals: { conversation: conversation }
        %h4.media-heading
          Conversation With: #{link_to conversation_with.name, resume_user_path(id: conversation_with.id)}
        %h4.media-heading
          Subject: #{link_to(truncate(conversation.subject, length: 55), company_conversation_path(company_id: current_company.id, id: conversation.id, box: @box))}
        .span8.well
          = raw(truncate(strip_tags(conversation.last_message.body), :length => 100))
  - else
    .media
      = link_to image_tag(last_message.profile_image, class: 'media-object img-rounded', size: '100x100'), resume_user_path(id: last_message.id), class: 'pull-left'
      .media-body
        .pull-right.media-heading
          - unless @box.eql?('trash')
            = render partial: 'action_conversation', locals: { conversation: conversation }
        %h4.media-heading
          From: #{link_to last_message.name, resume_user_path(id: last_message.id)}
        %h4.media-heading
          Subject: #{link_to(truncate(conversation.subject, length: 55), company_conversation_path(company_id: current_company.id, id: conversation.id, box: @box))}
        .span8.well
          = raw(truncate(strip_tags(conversation.last_message.body), :length => 100))
- elsif current_user
  - conversation_with = conversation.participants.detect { |conv| conv.is_a?(Company) }
  - if last_message == current_user
    .media
      = link_to image_tag(last_message.profile_image, size: '100x100', alt: last_message.name, title: last_message.name, class: 'media-object img-rounded'), company_path(id: last_message.id), class: 'pull-left'
      .media-body
        .pull-right.media-heading
          - unless @box.eql?('trash')
            = render partial: 'action_conversation', locals: { conversation: conversation }
        %h4.media-heading
          Conversation With: #{link_to conversation_with.name, company_path(id: conversation_with.id)}
        %h4.media-heading
          Subject: #{link_to(truncate(conversation.subject, length: 55), user_conversation_path(user_id: current_user.id, id: conversation.id, box: @box))}
        .span8.well
          = raw(truncate(strip_tags(conversation.last_message.body), :length => 100))
  - else
    .media
      = link_to image_tag(last_message.logo, size: '100x100', alt: last_message.name, title: last_message.name, class: 'media-object img-rounded'), company_path(id: last_message.id), class: 'pull-left'
      .media-body
        .pull-right.media-heading
          - unless @box.eql?('trash')
            = render partial: 'action_conversation', locals: { conversation: conversation }
        %h4.media-heading
          From: #{link_to last_message.name, company_path(id: last_message.id)}
        %h4.media-heading
          Subject: #{link_to(truncate(conversation.subject, length: 55), user_conversation_path(user_id: current_user.id, id: conversation.id, box: @box))}
        .span8.well
          = raw(truncate(strip_tags(conversation.last_message.body), :length => 100))
