.media{class: "media #{conversation.is_unread?(current_user) ? 'info' : @box.eql?('trash') ? 'error' : ''}"}
  = link_to image_tag(last_message.get_logo('small'), alt: last_message.name, title: last_message.name, class: 'media-object img-rounded', size: '100x100'), company_path(id: last_message.id), class: 'pull-left'
  .media-body
    .pull-right.media-heading
      - unless @box.eql?('trash')
        = render partial: 'action_conversation', locals: { conversation: conversation }
      - else
        = link_to 'Un-trash', untrash_user_conversation_path(id: conversation.id, user_id: current_user.id), method: :put, class: 'btn btn-success'
    %h6.media-heading
      From: #{link_to last_message.name, company_path(id: last_message.id)}
    %h6.media-heading
      Subject: #{link_to(truncate(conversation.subject, length: 55), user_conversation_path(user_id: current_user.id, id: conversation.id, box: @box))}
    .col-md-8.well
      = raw(truncate(strip_tags(conversation.last_message.body), :length => 100))
