%p
  Acceptable Languages
Javascript:
= check_box("job_listing", "acceptable_languages", { multiple: true, 'ng-model' => 'data.acceptableLanguages.javascript' }, "Javascript", nil)
Java:
= check_box("job_listing", "acceptable_languages", { multiple: true, 'ng-model' => 'data.acceptableLanguages.java' }, "Java", nil)
Ruby:
= check_box("job_listing", "acceptable_languages", { multiple: true, 'ng-model' => 'data.acceptableLanguages.ruby' }, "Ruby", nil)
PHP:
= check_box("job_listing", "acceptable_languages", { multiple: true, 'ng-model' => 'data.acceptableLanguages.php' }, "PHP", nil)
C:
= check_box("job_listing", "acceptable_languages", { multiple: true, 'ng-model' => 'data.acceptableLanguages.c' }, "C", nil)
C++:
= check_box("job_listing", "acceptable_languages", { multiple: true, 'ng-model' => 'data.acceptableLanguages.cpp' }, "C++", nil)
SQL:
= check_box("job_listing", "acceptable_languages", { multiple: true, 'ng-model' => 'data.acceptableLanguages.sql' }, "SQL", nil)
CSS:
= check_box("job_listing", "acceptable_languages", { multiple: true, 'ng-model' => 'data.acceptableLanguages.css' }, "CSS", nil)
HTML:
= check_box("job_listing", "acceptable_languages", { multiple: true, 'ng-model' => 'data.acceptableLanguages.html' }, "HTML", nil)
