%div{class: 'job-title'}
  = render partial: 'errors'
  {{greeting2}}
  Job Title:
  = form.text_field :job_title, required: '', 'ng-model' => 'data.jobTitle', "name" => "jobTitle"
%div{class: 'job-description'}
  Job Description:
  = form.text_area :job_description, 'ng-model' => 'data.jobDescription'
%div{class: 'location'}
  Location:
  = form.text_field :location, 'ng-model' => 'data.location'
%div{class: 'postition-type'}
  Position Type:
  = form.select :position_type, options_for_select(['Individual Contributor', 'Manager', 'Tech Lead', 'Executive'], selected: job_listing.position_type), 'ng-model' => 'data.positionType'
%div{class: 'experience_level'}
  Experience Level:
  = form.select :experience_level, options_for_select(['N/A', 'Junior', 'Mid-level', 'Senior'], selected: job_listing.experience_level), 'ng-model' => 'data.experienceLevel'
%div{class: 'salary_range'}
  Salary Range: 
  = form.select :salary_range_low, options_for_select(salary_range, selected: job_listing.salary_range_low), 'ng-model' => 'data.salaryRangeLow'
  to
  = form.select :salary_range_high, options_for_select(salary_range, selected: job_listing.salary_range_high), 'ng-model' => 'data.salaryRangeHigh'
%div{class: 'vacation-days'}
  Vacation Days: 
  = form.select :vacation_days, options_for_select([['None', 0], ['1 Week', 5], ['2 Weeks', 10], ['3 Weeks', 15], ['4 Weeks', 20], ['5 Weeks', 25], ['6 Weeks', 30], ['Unlimited', 365]], selected: job_listing.vacation_days), 'ng-model' => 'data.vacationDays'
%div{class: 'healthcare'}
  Health Care: 
  = form.select :healthcare, options_for_select(['None', 'Basic benefits', 'Expansive benefits package'], selected: job_listing.healthcare), 'ng-model' => 'data.healthcare'
%div{class: 'equity'}
  Equity: 
  = form.select :equity, options_for_select(['None', 'Less than 1%', '1% - 5%', 'Greater than 5%'], selected: job_listing.equity), 'ng-model' => 'data.equity'
%div{class: 'bonuses'}
  Bonus: 
  = form.select :bonuses, options_for_select(['None', '1-10% of base salary', 'Greater than 10% of base salary', 'Something else'], selected: job_listing.bonuses), 'ng-model' => 'data.bonuses'
%div{class: 'retirement'}
  Retirement: 
  = form.select :retirement, options_for_select(['None', 'IRA'], selected: job_listing.retirement), 'ng-model' => 'data.retirement'
%div{class: 'perks'}
  = render 'perks'
%div{class: 'practices'}
  = render 'practices'
%div{class: 'fulltime'}
  Work Hours:
  = form.select :fulltime, options_for_select([['Full-time', true], ['Part-Time', false]], selected: job_listing.fulltime), 'ng-model' => 'data.fulltime'
%div{class: 'estimated-work-hours'}
  Estimated Hours per Week:
  = form.select :estimated_work_hours, options_for_select(['N/A','0 - 20 hours','21 - 40 hours','41 - 50 hours','51 - 60 hours','61+ hours'], selected: job_listing.estimated_work_hours), 'ng-model' => 'data.estimatedWorkHours'
%div{class: 'hiring-time'}
  Approximate Start Time:
  = form.select :hiring_time, options_for_select([['Unkown', nil], ['ASAP', 0], ['The next couple of weeks', 14], ['The next couple of months', 60], ['Next quarter or some other time in the future', 90]], selected: job_listing.hiring_time), 'ng-model' => 'data.hiringTime'
%div{class: 'tech-stack'}
%div{class: 'special-characteristics'}
  = render 'special_characteristics'
%div{class: 'acceptable-languages'}
  = render 'acceptable_languages'
