%p
  Perks: 
Kegs: 
= check_box("job_listing", "perks", { multiple: true, 'ng-model' => 'data.perks.kegs' }, "Kegs")
Ping Pong: 
= check_box("job_listing", "perks", { multiple: true, 'ng-model' => 'data.perks.pingPong' }, "Ping Pong", nil)
Snacks: 
= check_box("job_listing", "perks", { multiple: true, 'ng-model' => 'data.perks.snacks' }, "Snacks", nil)
Catered Meals: 
= check_box("job_listing", "perks", { multiple: true, 'ng-model' => 'data.perks.cateredMeals' }, "Catered Meals", nil)
Flexible Work Hours: 
= check_box("job_listing", "perks", { multiple: true, 'ng-model' => 'data.perks.flexHours' }, "Flex Hours", nil)
Occasional Work From Home: 
= check_box("job_listing", "perks", { multiple: true, 'ng-model' => 'data.perks.wfh' }, "WFH", nil)
Conference Travel: 
= check_box("job_listing", "perks", { multiple: true, 'ng-model' => 'data.perks.conference' }, "Conference", nil)
Offsites: 
= check_box("job_listing", "perks", { multiple: true, 'ng-model' => 'data.perks.offsites' }, "Offsites", nil)
