%p
  Practices:
Test-driven Development:
= check_box("job_listing", "practices", { multiple: true, 'ng-model' => 'data.practices.tdd' }, "TDD", nil)
Behavior-driven Development:
= check_box("job_listing", "practices", { multiple: true, 'ng-model' => 'data.practices.bdd' }, "BDD", nil)
Agile:
= check_box("job_listing", "practices", { multiple: true, 'ng-model' => 'data.practices.agile' }, "Agile", nil)
Scrum:
= check_box("job_listing", "practices", { multiple: true, 'ng-model' => 'data.practices.scrum' }, "Scrum", nil)
Pair Programming:
= check_box("job_listing", "practices", { multiple: true, 'ng-model' => 'data.practices.pairProgramming' }, "Pair Programming", nil)
Cowboy Coding:
= check_box("job_listing", "practices", { multiple: true, 'ng-model' => 'data.practices.cowboyCoding' }, "Cowboy Coding", nil)
Object Oriented Design:
= check_box("job_listing", "practices", { multiple: true, 'ng-model' => 'data.practices.oop' }, "OOP", nil)
Waterfall Model:
= check_box("job_listing", "practices", { multiple: true, 'ng-model' => 'data.practices.waterfall' }, "Waterfall", nil)
Service-oriented Design:
= check_box("job_listing", "practices", { multiple: true, 'ng-model' => 'data.practices.serviceOriented' }, "Service Oriented", nil)
Don't Repeat Yourself (DRY):
= check_box("job_listing", "practices", { multiple: true, 'ng-model' => 'data.practices.dry' }, "DRY", nil)
Extreme Programming:
= check_box("job_listing", "practices", { multiple: true, 'ng-model' => 'data.practices.extremeProgramming' }, "Extreme Programming", nil)
Continuous Integration:
= check_box("job_listing", "practices", { multiple: true, 'ng-model' => 'data.practices.ci' }, "CI", nil)
