.panel-group
  .panel-heading
    %a{ 'data-toggle' => 'collapse', 'data-parent' => '#accordion2', href: '#collapseEducation' }
      %h4 Education
  #collapseEducation.panel-collapse.collapse
    .panel-body
      %table.table
        %tr
          %th School Name
          %th Field of Study
          %th Degree
          %th Activities
          %th Notes
          %th Dates Attended
        - @educations.each do |education|
          %tr
            %td= education.school_name
            %td= education.field_of_study
            %td= education.degree
            %td= education.activities
            %td= education.notes
            %td #{education.start_year} - #{education.end_year}
