.panel-group
  .panel-heading
    %a{ 'data-toggle' => 'collapse', 'data-parent' => '#accordion2', href: '#collapseEducation' }
      %h4 Education
  #collapseEducation.panel-collapse.collapse
    .panel-body
      %ul.media-list
        - @educations.each do |education|
          %li.media
            .media-body
              %h4 #{education.school_name} from #{education.start_year} to #{education.end_year} - #{education.field_of_study}
              %p= education.activities
              %p= education.notes
          %hr
