%p
  %i.fa.fa-github.fa-2x
    Github
  - if @github_account
    %span.nickname_link
      = link_to @github_account.nickname, @github_account.github_url, target: '_blank'

    .same_line_padder
      %strong Followers:
      #{@github_account.number_followers}

    .same_line_padder
      %strong Following:
      #{@github_account.number_following}

    .accordion
      = render 'repos'
      = render 'organizations'
  - elsif user_signed_in?
    %p
      = link_to '/auth/github', class: 'btn btn-inverse', style: 'color: white !important;' do
        %i.fa.fa-github
        %strong | Link your Github
