%p
  %i.fa.fa-linkedin.fa-2x
    Linkedin
    - if @linkedin.present?
      %span.nickname_link
        = link_to @user.name, @linkedin.profile_url, target: '_blank'

  - if @linkedin.present?
    .same_line_padder
      %strong Connections:
      #{@profile.number_connections}

    .same_line_padder
      %strong Recommendations:
      #{@profile.number_recommenders}

    .accordion
      = render 'skills'
      = render 'positions'
      = render 'education'
  - elsif user_signed_in?
    %p
      = link_to '/auth/linkedin', class: 'btn btn-info', style: 'color: white !important;' do
        %i.fa.fa-linkedin
        %strong | Link your Linkedin
