.panel-group
  .panel-heading
    %a{ 'data-toggle' => 'collapse', 'data-parent' => '#accordion2', href: '#collapsePos' }
      %h4 Positions
  #collapsePos.panel-collapse.collapse
    .panel-body
      %ul.media-list
        - @positions.each do |position|
          %li.media
            .media-body
              %h4
                #{position.name} - #{position.title} from #{Date::MONTHNAMES[position.start_month.to_i]} of #{position.start_year}
                - if position.is_current?
                  %small
                    Current Position
                    %i.fa.fa-check

              %p= position.summary
          %hr
