.accordion-group
  .accordion-heading
    %a{ class: 'accordion-toggle', 'data-toggle' => 'collapse', 'data-parent' => '#accordion2', href: '#collapsePos' }
      %h4 Positions
  #collapsePos{ class: 'accordion-body collapse' }
    .accordion-inner
      %table.table
        %tr
          %th Company Name
          %th Industry
          %th Company Type
          %th Company Size
          %th Title
          %th.span5 Summary
          %th Start Date
        - @positions.each do |position|
          %tr{'class' => "#{position.is_current? ? 'success' : ''}"}
            %td= position.name
            %td= position.industry
            %td= position.company_type
            %td= position.size
            %td= position.title
            %td.span5= position.summary
            %td #{Date::MONTHNAMES[position.start_month.to_i]} of #{position.start_year}
