.panel-group
  .panel-heading
    %a{ 'data-toggle' => 'collapse', 'data-parent' => '#accordion2', href: '#collapsePos' }
      %h4 Positions
  #collapsePos.panel-collapse.collapse
    .panel-body
      %ul.media-list
        - @positions.each do |position|
          %li.media
            .media-body
              %h4
                #{position.name} from #{position_start_date(position)} till #{position_end_date(position)} - #{position.title}
                - if position.is_current?
                  %small.text-success
                    Current Position
                    %i.fa.fa-check
              %p.indent= position.summary
          %hr
