%p
  %i.fa.fa-gear.fa-2x
    Preferences
  %p
    = user_bio(@user, @preference)
  %ul.list-group
    %li.list-group-item
      %strong.list-gorup-item-heading Preferred Skills
      %p.list-group-item-text
        #{@preference.skills.join(', ')}
    %li.list-group-item
      %strong.list-gorup-item-heading Preferred Practices
      %p.list-group-item-text
        #{@preference.practices.join(', ')}
    %li.list-group-item
      %strong.list-gorup-item-heading Preferred Perks
      %p.list-group-item-text
        #{@preference.perks.join(', ')}
    %li.list-group-item
      %strong.list-gorup-item-heading Preferred Benefits
      %p.list-group-item-text
        = user_benefits(@preference)
