%hr
%p
  %i.fa.fa-gear.fa-2x
    Preferences
  %p
    = user_bio(@user, @preference)
  %ul.unstyled
    %li
      %p
        %strong Preferred Skills:
        #{@preference.skills.join(', ')}
    %li
      %p
        %strong Preferred Practices:
        #{@preference.practices.join(', ')}
    %li
      %p
        %strong Preferred Perks:
        #{@preference.perks.join(', ')}
    %li
      %p
        %strong Preferred Benefits:
        = user_benefits(@preference)
