.panel-group
  .panel-heading
    %a{ 'data-toggle' => 'collapse', 'data-parent' => '#accordion2', href: '#collapseRepo' }
      %h4 Repositories (#{@github_account.public_repos_count})
  #collapseRepo.panel-collapse.collapse
    .panel-body
      %table.table
        %tr
          %th Name
          %th Description
          %th Language
          %th # Forks
          %th # Watchers
          %th Started
          %th Last Updated
        - @repos.each do |repo|
          %tr
            %td= link_to repo.name, repo.url
            %td= repo.description
            %td= repo.language
            %td= repo.number_forks
            %td= repo.number_watchers
            %td= repo.started.strftime("%m/%d/%Y")
            %td= repo.last_updated.strftime("%m/%d/%Y")
