.panel-group
  .panel-heading
    %a{ 'data-toggle' => 'collapse', 'data-parent' => '#accordion2', href: '#collapseRepo' }
      %h4 Repositories (#{@github_account.public_repos_count})
  #collapseRepo.panel-collapse.collapse
    .panel-body
      %ul.media-list
        - @repos.each do |repo|
          %li.media
            .media-body
              %h4
                #{link_to repo.name, repo.url}
                %small
                  Started on #{repo.started.strftime("%m/%d/%Y")} and last updated #{repo.last_updated.strftime("%m/%d/%Y")}
              %p Written in #{repo.language} with #{repo.number_forks} forks and #{repo.number_watchers} watchers.
              %p= repo.description || "No description"
          %hr
