%h3 Repositories

%table.table
  %tr
    %th Name
    %th.span5 Description
    %th Language
    %th # Forks
    %th # Watchers
    %th Started
    %th Last Updated
  - current_user.github_account.repos.each do |repo|
    %tr
      %td= link_to repo.name, repo.url
      %td.span5= repo.description
      %td= repo.language
      %td= repo.number_forks
      %td= repo.number_watchers
      %td= repo.started.strftime("%m/%d/%Y")
      %td= repo.last_updated.strftime("%m/%d/%Y")
