- job_listings = current_company.try(:job_listings)
- if job_listings.present?
  .pull-right
    .btn-group
      %a.btn.btn-info.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
        Send Message
        %span.caret
      %ul.dropdown-menu
        %li.job-listing-header
          %strong.text-center Regarding Job Listing
        - job_listings.each do |listing|
          %li= link_to listing.job_title, new_company_message_path(company_id: current_company.id, receiver: @user.id, job_listing_id: listing.id) unless current_company.already_has_conversation_over?(listing.id, @user)

.section_header
  - if company_signed_in?
    .media
      .pull-left
        = image_tag(@user.profile_image, class: 'img-rounded img-thumb')
      .media-body
        %h4 #{@user.name.possessive} Resume
  - elsif @user != current_user
    .media
      .pull-left
        = image_tag(@user.profile_image, class: 'img-rounded img-thumb')
      .media-body
        %h4 #{@user.name.possessive} Resume
  - else
    = link_to 'Edit Profile', edit_user_path(id: current_user.id), class: 'btn btn-info pull-right'
