- job_listings = current_company.try(:job_listings)
- if job_listings.present?
  .pull-right
    .btn-group
      %a.btn.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
        Send Message
        %span.caret
      %ul.dropdown-menu
        %li
          %h5.text-center Regarding Job Listing
        - job_listings.each do |listing|
          %li= link_to listing.job_title, new_company_message_path(company_id: current_company.id, receiver: @user.id, job_listing_id: listing.id)

.section_header
  - if company_signed_in?
    .media
      .pull-left
        = image_tag(@user.profile_image, class: 'img-rounded', size: '50x50')
      .media-body
        %h3 #{@user.name}'s Resume
  - elsif @user != current_user
    .media
      .pull-left
        = image_tag(@user.profile_image, class: 'img-rounded', size: '50x50')
      .media-body
        %h3 #{@user.name}'s Resume
  - else
    %h3 Resume
    = link_to 'Edit Profile', edit_user_path(id: current_user.id), class: 'btn btn-primary pull-right'
