#housing
  .container
    = render 'resume_header'
    = render 'common_language'
    = render 'user_description'
    = render 'preference_info'
    = render 'github'
    = render 'linkedin'
    = render 'stackexchange'
