.form-group
  = label_tag :card_number, 'Card Number', class: 'col-sm-2 control-label', for: 'credit-card'
  .col-sm-10
    = text_field_tag :card_number, nil, class: 'xlarge card-number form-control', id: 'credit-card', name: 'credit-card'
    %span#credit-card-type-text.help-inline

.form-group
  .col-sm-10.col-sm-offset-2
    #accepted-cards-images

.form-group
  = label_tag :card_cvc, 'Security Code', class: 'col-sm-2 control-label'
  .col-sm-10
    = text_field_tag :card_cvc, nil, name: nil, class: 'card-cvc form-control'

.form-group
  = label_tag :month, 'Expiration Month', class: 'col-sm-2 control-label'
  .col-sm-10
    = select_month nil, {add_month_numbers: true}, name: nil, class: 'card-expiry-month form-control'

.form-group
  = label_tag :month, 'Expiration Year', class: 'col-sm-2 control-label'
  .col-sm-10
    = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, name: nil, class: 'card-expiry-year form-control'
