#housing
  .container
    .section_header
      %h3 Your Matches
    - if @matchings.present?
      - @matchings.each do |job_listing_name, matches|
        .media-body
          %h3.media-heading= job_listing_name
        - matches.each do |match|
          - job_listing = match[:job_listing]
          - score       = match[:score]
          - user        = match[:user]
          - preference  = match[:preference]
          .media
            = link_to image_tag(user.profile_image, size: '100x100', class: 'img-circle'), resume_user_path(id: user.id), class: 'pull-left'
            .pull-right
              .pull-right
                = link_to 'View Resume', resume_user_path(id: user.id), class: 'btn btn-primary'
                = link_to 'Send Message', new_company_message_path(company_id: current_company.id, receiver: user.id, job_listing_id: job_listing.id), class: 'btn btn-success'
              .clearfix
              %dl.dl-horizontal
                %dt Preferred Locations
                %dd= preference.locations.join(', ')
                %dt Salary
                %dd= "#{number_to_currency(preference.expected_salary)}"
                %dt Languages
                %dd= truncate_html(preference.skills.join(', '), length: 30, omission: '...and more')
            .media-body
              %h4.media-heading
                .label.label-success{style: 'font-size: 20px;'} #{score}% Match
                = "#{user.name}"
              %div
                %p
                  = truncate_html(user.description.try(:html_safe), length: 250, omission: "...#{link_to 'read more', resume_user_path(id: user.id)}")
        %hr
    - else
      %p
        Make sure you fill our your preferences to start getting matched with companies.
        You can also start looking around by searching for companies that you may want to apply for.
