#housing
  .container
    - if !current_company.active
      %p
        Your account is currently deactivated. To start getting matched with developers again activate your account by clicking
        #{link_to 'here.', toggle_activation_company_path(id: current_company.id), method: :put}
    - else
      - if @matchings.present?
        - @matchings.each do |job_listing_info, matches|
          - info = job_listing_info.split('___')
          - job_listing_name = info.first
          - job_listing_id = info.last
          .media-body
            %h3.media-heading= job_listing_name
          - matches.each do |match|
            .well
              .media
                - image = match['profile_image'] || 'default_logo.png'
                = link_to image_tag(image, style: 'max-width: 120px; max-height: 120px;', class: 'img-rounded media-object'), resume_user_path(id: match['id']), class: 'pull-left', style: 'clear: both; margin-bottom: 5px;'
                .pull-left{style: 'clear: both;'}
                  .box-score.box-item.isotope-item{class: score_class(match['score'])}
                    .box-link
                      %span.box-number.box-number-item
                        #{match['score'] || 0} %
                      %br
                      %span.box-number.box-number-item
                        MATCH
                .media-body.total-body-info
                  .pull-right.right-sidebar-info
                    .pull-right
                      = link_to 'View Resume', resume_user_path(id: match['id']), class: 'btn btn-info'
                      = link_to 'Send Message', new_company_message_path(company_id: current_company.id, receiver: match['id'], job_listing_id: job_listing_id), class: 'btn btn-success'
                    .clearfix
                    %dl.dl-horizontal.side-info
                      %dt Preferred Locations
                      %dd= match['locations'].join(', ')
                      %dt Salary
                      %dd= "#{number_to_currency(match['expected_salary'])}"
                      %dt Languages
                      %dd= match['skills'].join(', ')
                  %h6.media-heading
                    #{match['name']}
                    %small
                      #{match['valid_us_worker'] ? "U.S. Citizen or Green Card holder" : "Not a U.S. Citizen or Green Card holder"}
                  %div
                    %p
                      = truncate_html(match['description'].try(:html_safe), length: 400, omission: "...#{link_to 'read more.', resume_user_path(id: match['id'])}")
      - else
        - if current_company.fully_activated?
          %p
            Make sure you fill our your preferences to start getting matched with companies.
            You can also start looking around by searching for companies that you may want to apply for.
        - else
          %p
            You do not have your subscription setup.
