#sign_up2
  .container
    .row.login
      .col-md-6
        .content-left
          = image_tag('logo.png', class: 'logo-image')
          %p.motto
            Your  Automated  Recruiting  Platform
          %p.mini_motto
            Matching Developers and Companies
      .col-md-6.signin_box
        .box
          .box_cont
            .developer-title
              .title-signup2 Developers
            .social
              = link_to raw("<i class='fa fa-github-square fa-5x'></i>"), '/auth/github', class: 'circle github_link'
              = link_to raw("<i class='fa fa-linkedin-square fa-5x'></i>"), '/auth/linkedin', class: 'circle github_link'
            .division
              .line.l
              %span or
              .line.r
            .form
              .form_errors
              .title-signup2 Companies
              = form_for @company, role: 'form', url: companies_path, method: :post do |f|
                .form-group
                  = f.text_field :name, placeholder: 'Company Name', class: 'form-control input-sm'
                .form-group
                  = f.text_field :email, placeholder: 'Email', class: 'form-control input-sm'
                .form-group
                  = f.password_field :password, placeholder: 'Password', class: 'form-control input-sm'
                .form-group
                  = f.password_field :password_confirmation, placeholder: 'Password Confirmation', class: 'form-control input-sm'
                .forgot
                  %span Already have an account?
                  = link_to 'Sign in', sign_in_path
                = f.submit 'Sign Up', class: 'btn btn-theme'
                %br
                .forgot
                  %span
                    By signing up as a developer or company you agree to our #{link_to 'terms of service', terms_of_service_path}
                    and #{link_to 'privacy policy', privacy_policy_path}.
#showcase
  .container
    .row.feature_wrapper
      .features_op1_row
        .col-md-4.feature.first
          .img_box{style: 'text-align: center;'}
            %i.fa.fa-compass.fa-4x
          .text
            %h6 Fast
            %p
              We are constantly refining our scoring algorithm to put the best choices in front of you right away.  No more sifting through profiles that aren't even remotely the right fit.
        .col-md-4.feature
          .img_box{style: 'text-align: center;'}
            %i.fa.fa-code.fa-4x
          .text
            %h6 Simple
            %p
              Like most developers, we are lazy and leverage computers to do all the boring work.  This is why we try to automate and simplify all the tedious parts of finding a job/hiring candidates.  If you enjoy filling out repetitive forms over and over again, we probably aren't for you.
        .col-md-4.feature.last
          .img_box{style: 'text-align: center;'}
            %i.fa.fa-thumbs-up.fa-4x
          .text
            %h6 Specific
            %p
              You need all the facts when choosing a new company/hire.  We provide a great level of detail in our candidate profiles and job listings to help you make better decisions.
%br
%br
-#= render 'layouts/team'

#features
  .container
    .row.feature
      .col-md-6
        = image_tag('showcase1.png')
      .col-md-6.info
        %h3
          %i.fa.fa-user.fa-2x
          Developers
        %p
          %ul
            %li
              %strong Get immediate matches based on your technical and cultural preferences
            %p
              %li
                %strong No repetitive copying and pasting of your resume and cover letter
            %p
              %li
                %strong Filter messages from companies than are less than an ideal fit
            %p
              %li
                %strong Easily get the run down on the company before you apply
            %p
              %li
                %strong Start talking directly to companies right away
    .row.feature.ss
      .col-md-6.info
        %h3
          %i.fa.fa-building.fa-2x
          Companies
        %p
          %ul
            %li
              %strong Get immediate matches based on your technical and cultural needs
            %p
              %li
                %strong Create highly specific job listings in minutes
            %p
              %li
                %strong Check out a candidate's tech preferences, Github and StackOverflow profiles
            %p
              %li
                %strong Request a code sample, schedule and interview and more
      .col-md-6
        = image_tag('showcase2.png')
    .row.feature.ss
      .col-md-6
        = image_tag('scientist.jpg', class: 'img img-rounded')
      .col-md-6.info
        %h3
          %i.fa.fa-magic.fa-2x
          Changing the Game
        %p
          We are a group of developers who want to change the way people hire and source talent. No more inbox spam, no more recruiters who don't know how to code, no more insane recruiting fees, no more wading through irrelevant resumes and job listings.  We are here to understand what you are looking for and use software (and even good old fashioned face-to-face conversation) to help you find it.

#in_pricing{style: 'margin-top: 10px;'}
  .container
    = render 'layouts/pricing'

-##clients
  -#.container
    -#.section_header
      -#%h3 Clients
    -#.row
      -#.span2.client
        -#.img.client1
      -#.span2.client
        -#.img.client2
      -#.span2.client
        -#.img.client3
      -#.span2.client
        -#.img.client1
      -#.span2.client
        -#.img.client2
      -#.span2.client
        -#.img.client3
