#sign_up2
  .container
    .row.login
      .span5.left_box
        %h4 Sign up today
        .perk_box
          .media
            .pull-left
              = image_tag('Briefcase.png', size: '70x70', style: 'float: left; margin-right: 16px;')
            .media-body.sign-up-front
              No more sorting through resumes or job listings, quickly find exactly what you're looking for based on what you prefer in a company or developer.
          .media
            .pull-left
              = image_tag('clock.png', size: '70x70', style: 'float: left; margin-right: 16px;')
            .media-body.sign-up-front
              Save time, money, and energy on recruiting, let us carry the heavy load while you focus on other aspects of your business and life.
          .media
            .pull-left
              = image_tag('target.png', size: '70x70', style: 'float: left; margin-right: 16px;')
            .media-body.sign-up-front
              Get precisely matched with companies or developers based on skills, tech stacks, benefits, locations, experience levels, job positions, and much more.
      .span6.signin_box
        .box
          .box_cont
            .developer-title
              .title-signup2 Developers
            .social
              = link_to raw("<i class='icon-github-sign icon-5x'></i>"), '/auth/github', class: 'circle github_link'
              = link_to raw("<i class='icon-linkedin-sign icon-5x'></i>"), '/auth/linkedin', class: 'circle github_link'
            .division
              .line.l
              %span or
              .line.r
            .form
              .form_errors
              .title-signup2 Companies
              = form_for @company, url: companies_path, method: :post do |f|
                = f.text_field :name, placeholder: 'Company Name'
                = f.text_field :email, placeholder: 'Email'
                .inline
                  = f.password_field :password, placeholder: 'Password'
                  = f.password_field :password_confirmation, placeholder: 'Password Confirmation'
                .forgot
                  %span Already have an account?
                  = link_to 'Sign in', sign_in_path
                = f.submit 'Sign Up'
#showcase
  .container
    .section_header
      %h3 Our Services
    .row.feature_wrapper
      / Features Row
      .features_op1_row
        / Feature
        .span4.feature.first
          .img_box
            %a{:href => "services.html"}
              = image_tag('service1.png')
              %span.circle
                %span.plus +
          .text
            %h6 Responsive theme
            %p
              There are many variations of passages of generators on the  embarrassing hidden in   content here making it look like.
        / Feature
        .span4.feature
          .img_box
            %a{:href => "services.html"}
              = image_tag('service2.png')
              %span.circle
                %span.plus +
          .text
            %h6 Easy customization
            %p
              There are many variations of passages of generators on the  embarrassing hidden in   content here making it look like.
        / Feature
        .span4.feature.last
          .img_box
            %a{:href => "services.html"}
              = image_tag('service3.png')
              %span.circle
                %span.plus +
          .text
            %h6 Made with love
            %p
              There are many variations of passages of generators on the  embarrassing hidden in   content here making it look like.
#features
  .container
    .section_header
      %h3 Features
    .row.feature
      .span6
        = image_tag('showcase1.png')
      .span6.info
        %h3
          = image_tag('features-ico1.png')
          Beautiful on all devices
        %p
          There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
    .row.feature.ss
      .span6.info
        %h3
          = image_tag('features-ico2.png')
          Blog page included
        %p
          There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
      .span6
        = image_tag('showcase2.png')
    .row.feature.ss
      .span6
        = image_tag('showcase3.png')
      .span6.info
        %h3
          = image_tag('features-ico3.png')
          Simple and clean coming soon page
        %p
          There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.

#in_pricing{style: 'margin-top: 10px;'}
  .container
    .section_header
      %h3 Pricing Plans
    = render 'layouts/pricing'

-##clients
  -#.container
    -#.section_header
      -#%h3 Clients
    -#.row
      -#.span2.client
        -#.img.client1
      -#.span2.client
        -#.img.client2
      -#.span2.client
        -#.img.client3
      -#.span2.client
        -#.img.client1
      -#.span2.client
        -#.img.client2
      -#.span2.client
        -#.img.client3

%hr
