#sign_up2
  .container
    .row.login
      .col-md-6
        .content-left
          = image_tag('logo.png', class: 'logo-image')
          %p.motto
            Your  Automated  Recruiting  Platform
      .col-md-6.signin_box
        .box
          .box_cont
            .developer-title
              .title-signup2 Developers
            .social
              = link_to raw("<i class='fa fa-github-square fa-5x'></i>"), '/auth/github', class: 'circle github_link'
              = link_to raw("<i class='fa fa-linkedin-square fa-5x'></i>"), '/auth/linkedin', class: 'circle github_link'
            .division
              .line.l
              %span or
              .line.r
            .form
              .form_errors
              .title-signup2 Companies
              = form_for @company, role: 'form', url: companies_path, method: :post do |f|
                .form-group
                  = f.text_field :name, placeholder: 'Company Name', class: 'form-control input-sm'
                .form-group
                  = f.text_field :email, placeholder: 'Email', class: 'form-control input-sm'
                .form-group
                  = f.password_field :password, placeholder: 'Password', class: 'form-control input-sm'
                .form-group
                  = f.password_field :password_confirmation, placeholder: 'Password Confirmation', class: 'form-control input-sm'
                .forgot
                  %span Already have an account?
                  = link_to 'Sign in', sign_in_path
                = f.submit 'Sign Up', class: 'btn btn-theme'
                %br
                .forgot
                  %span
                    By signing up as a developer or company you agree to our #{link_to 'terms of service', terms_of_service_path}
                    and #{link_to 'privacy policy', privacy_policy_path}.
#showcase
  .container
    .row.feature_wrapper
      .features_op1_row
        .col-md-4.feature.first
          .img_box{style: 'text-align: center;'}
            %i.fa.fa-compass.fa-4x
          .text
            %h6 Discovery
            %p
              Quickly and accurately discover developers or companies based on your preferred programming languages,
              benefits, locations, programming practices, and more. No longer do you need to sift through resumes or
              job listings to find what you are looking for.
        .col-md-4.feature
          .img_box{style: 'text-align: center;'}
            %i.fa.fa-code.fa-4x
          .text
            %h6 Technical Recruiting
            %p
              Companies, let us handle the technical recruiting for you! Trust us, we know exactly what it is like to
              get recruited. We have tons of technical experience, a well developed recruiting process that we've adopted
              from several companies, and the best customer support.
              is what you prefer.
        .col-md-4.feature.last
          .img_box{style: 'text-align: center;'}
            %i.fa.fa-thumbs-up.fa-4x
          .text
            %h6 Easy Setup
            %p
              No more complicated and unnecessary forms to fill out. We let developers sync their GitHub, LinkedIn, and
              Stackoverflow profiles so we get the latest information. We use Crunchbase for companies when they sign up
              to reduce the time it takes for a company to get started using Pickemup.

%br
%br
-#= render 'layouts/team'

#features
  .container
    .row.feature
      .col-md-6
        = image_tag('showcase1.png')
      .col-md-6.info
        %h3
          %i.fa.fa-user.fa-2x
          Developers
        %p
          You can customize your preferences to find the company that is right for you. This includes what you expect in salary,
          the type of position you want, your experience level, the skills that you want to work with, where you want
          to work, how many hours you want to work in a week, the industries you prefer, the size of the company,
          and more! Lastly, do not forget to set those perks. Who wants to work in an office without kegs?
    .row.feature.ss
      .col-md-6.info
        %h3
          %i.fa.fa-building.fa-2x
          Companies
        %p
          Use the tech stack feature to customize your job listing so that developers know exactly what programming languages
          and tools they'll be using on an every day basis. This includes back-end programming languages, front-end languages,
          databases, frameworks, and dev ops tools. In addition, you can fully tailor your job listing based on
          expected salary, location, skills, experience level, position type, and everything you need to make sure you
          get the perfect developer.
      .col-md-6
        = image_tag('showcase2.png')
    .row.feature.ss
      .col-md-6
        = image_tag('scientist.jpg', class: 'img img-rounded')
      .col-md-6.info
        %h3
          %i.fa.fa-magic.fa-2x
          Changing the Game
        %p
          At Pickemup we want to change the way recruiting is done. No more spamming inboxes, no more incompetent recruiters
          who have never written a line of code, no more insane recruiting fees, no more sifting resumes and
          job listings; just a company run by developers that wants to provide a service that will give you the opportunity
          to discover the company or developer that you want, no transparency. We also want to provide the highest level
          of customer service, and make sure that everyone is 100% satisfied, no matter what. We are here to go out of our
          way to make one of the hardest processes as easy as it can get.

#in_pricing{style: 'margin-top: 10px;'}
  .container
    = render 'layouts/pricing'

-##clients
  -#.container
    -#.section_header
      -#%h3 Clients
    -#.row
      -#.span2.client
        -#.img.client1
      -#.span2.client
        -#.img.client2
      -#.span2.client
        -#.img.client3
      -#.span2.client
        -#.img.client1
      -#.span2.client
        -#.img.client2
      -#.span2.client
        -#.img.client3
