%section#feature_slider
  %article#showcasing.slide
    = image_tag('slides/scene1/macbook.png', class: 'asset left-30 sp600 t120 z1')
    .info
      %h2 Beautiful theme for showcasing your works.
  %article#ideas.slide
    .info
      %h2 We love to turn ideas into beautiful things.
    = image_tag('slides/scene2/left.png', class: 'asset left-480 sp600 t260 z1')
    = image_tag('slides/scene2/middle.png', class: 'asset left-210 sp600 t213 z2')
    = image_tag('slides/scene2/right.png', class: 'asset left60 sp600 t260 z1')
  %article#tour.slide
    = image_tag('slides/scene3/ipad.png', class: 'asset left-472 sp650 t210 z3')
    = image_tag('slides/scene3/iphone.png', class: 'asset left-365 sp600 t270 z4')
    = image_tag('slides/scene3/desktop.png', class: 'asset left-350 sp450 t135 z2')
    = image_tag('slides/scene3/macbook.png', class: 'asset left-185 sp550 t220 z1')
    .info
      %h2 Fully Responsive theme
      %a{:href => "features.html"} TOUR THE PRODUCT
  %article#responsive.slide
    = image_tag('slides/scene4/html5.png', class: 'asset left-472 sp600 t120 z3')
    = image_tag('slides/scene4/css3.png', class: 'asset left-190 sp500 t120 z2')
    .info
      %h2
        Developers login with
        %strong
          GitHub or Twitter

#showcase
  .container
    .section_header
      %h3 Our Services
    .row.feature_wrapper
      / Features Row
      .features_op1_row
        / Feature
        .span4.feature.first
          .img_box
            %a{:href => "services.html"}
              = image_tag('service1.png')
              %span.circle
                %span.plus +
          .text
            %h6 Responsive theme
            %p
              There are many variations of passages of generators on the  embarrassing hidden in   content here making it look like.
        / Feature
        .span4.feature
          .img_box
            %a{:href => "services.html"}
              = image_tag('service2.png')
              %span.circle
                %span.plus +
          .text
            %h6 Easy customization
            %p
              There are many variations of passages of generators on the  embarrassing hidden in   content here making it look like.
        / Feature
        .span4.feature.last
          .img_box
            %a{:href => "services.html"}
              = image_tag('service3.png')
              %span.circle
                %span.plus +
          .text
            %h6 Made with love
            %p
              There are many variations of passages of generators on the  embarrassing hidden in   content here making it look like.
#features
  .container
    .section_header
      %h3 Features
    .row.feature
      .span6
        = image_tag('showcase1.png')
      .span6.info
        %h3
          = image_tag('features-ico1.png')
          Beautiful on all devices
        %p
          There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
    .row.feature.ss
      .span6.info
        %h3
          = image_tag('features-ico2.png')
          Blog page included
        %p
          There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
      .span6
        = image_tag('showcase2.png')
    .row.feature.ss
      .span6
        = image_tag('showcase3.png')
      .span6.info
        %h3
          = image_tag('features-ico3.png')
          Simple and clean coming soon page
        %p
          There are many variations of passages of Lorem Ipsum available, but the randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
#in_pricing
  .container
    .section_header
      %h3 Pricing
    .row.charts_wrapp
      .span4.pro
        .plan
          .wrapper
            = image_tag('badge.png', class: 'ribbon')
            %h3 Pro
            .price.text-center
              %span.dollar $
              %span.qty 99
              %span.month /month
            .features.text-center
              %p
                %strong 10
                Shared Projects
              %p
                %strong 25
                Team Members
              %p
                %strong Unlimited
                Storage
              %p
                %strong Plus
                Phone Support
            %a.order{:href => "pricing.html"} ORDER NOW
    .start
      %p Start your free, no-risk, 14 day trial!
      %a{:href => "pricing.html"} Start Now!
#clients
  .container
    .section_header
      %h3 Clients
    .row
      .span2.client
        .img.client1
      .span2.client
        .img.client2
      .span2.client
        .img.client3
      .span2.client
        .img.client1
      .span2.client
        .img.client2
      .span2.client
        .img.client3

%hr
