#aboutus
  .container
    .section_header
      %h3 About Us
    .row
      .span6.intro
        %h6 There are many variations of passages Lorem Ipsum available, injected generators on the hidden.
        %p
          There are many variations of passages of Lorem Ipsum available, injected
          generators on the  embarrassing hidden in the middle all the dictionary making it look like readable English. Many desktop publishing packages and web page editors.
          %br/
          %br/
          There are many variations of passages of Lorem Ipsum available, but the ndictionary of over 200 Latin words, combined with a handful of models The generated Lorem Ipsum is therefore always free from repetition, the injected humour, or non-characteristic words etc.
      .span6.flexslider
        %ul.slides
          %li
            = image_tag('about_slide1.jpg')
          %li
            = image_tag('about_slide1.jpg')
          %li
            = image_tag('about_slide1.jpg')
#team
  .container
    .section_header
      %h3 Meet our Team
    .row.people
      .row.row1
        .span6.bio_box
          = image_tag('ale.png')
          .info
            %p.name Tom Depplito
            %p.area Co-Founder/CEO
            %a.facebook{:href => "#"}
              %span.socialicons.ico1
              %span.socialicons_h.ico1h
            %a.twitter{:href => "#"}
              %span.socialicons.ico2
              %span.socialicons_h.ico2h
            %a.flickr{:href => "#"}
              %span.socialicons.ico4
              %span.socialicons_h.ico4h
            %a.dribble{:href => "#"}
              %span.socialicons.ico6
              %span.socialicons_h.ico6h
        .span6.bio_box.bio_boxr
          = image_tag('ale.png')
          .info
            %p.name Chris Nixon
            %p.area Co-Founter/CTO
            %a.facebook{:href => "#"}
              %span.socialicons.ico1
              %span.socialicons_h.ico1h
            %a.twitter{:href => "#"}
              %span.socialicons.ico2
              %span.socialicons_h.ico2h
            %a.flickr{:href => "#"}
              %span.socialicons.ico4
              %span.socialicons_h.ico4h
            %a.dribble{:href => "#"}
              %span.socialicons.ico6
              %span.socialicons_h.ico6h
#process
  .container
    .section_header
      %h3 Our Process
    .row.services_circles
      .span4.description
        .text.active
          %h4 Plan what you need.
          %p
            There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to making this the first true generator  Internet.
        .text
          %h4 Develop your product or service.
          %p
            There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to
            making this the first true generator  Internet.
        .text
          %h4 Design this theme to your needs.
          %p
            There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to making this the first true generator  Internet.
      .span7.areas
        .circle.active
          = image_tag('plan.png')
          %span Plan
        .circle
          = image_tag('develop.png')
          %span Develop
        .circle.last_circle
          = image_tag('design.png')
          %span Design
