#aboutus
  .container
    .section_header
      %h3 About Pickemup
    .row
      .span6.intro
        %h6 Working to get companies and developers easily and quickly connected by what they prefer in an employee or employer.
        %p
          At Pickemup we want to get it right the first time. That's why we built our technical recruiting service around our application
          that eliminates having to dig around resumes, sift through LinkedIn, fill out meaningless profiles or rely on other expensive
          people and tools that know little about the software engineering world. Pickemup was built and is run by developers who want
          to change the way the recruiting process works. We want to do everything we can to make sure that you get exactly what you're
          looking for.
          %br/
          %br/
          For an employer you no longer need to look hard. Sign up, clean up your profile, add job listings, and begin
          finding the developers that we know will fit your company culture, work hard, and help take you to the next level. We have
          a wicked fast and smart algorithm that makes any recruiter look silly. Beyond that, we have a wide range of services from pre-screenings to
          full technical interviews that we provide. We strive for the ultimate customer service and will do what we can to make the recruiting
          process as pain free as possible, while also delivering to you the perfect developer.
          %br/
          %br/
          For a developer, we know the pain. Wasting days talking with recruiters who do not know a thing about what it means to be a
          software engineer is frustrating. Sign in with your GitHub or LinkedIn, setup your preferences, and it is off to the races. You will
          immediately be able to find, search, and narrow down the perfect company that you've always been looking for. Also, we strive
          to make sure you speak directly to those that matter. No longer do you have to take 10 meaningless phone calls, everything there is
          to know about your background is cleanly organized and within a click of a button.
      .span6.flexslider
        %ul.slides
          %li
            = image_tag('vim_recruit.png')
          %li
            = image_tag('about_slide1.jpg')
          %li
            = image_tag('about_slide1.jpg')
#team
  .container
    .section_header
      %h3 Meet our Team
    .row.people
      .row.row1
        .span6.bio_box
          = image_tag('tom.png', class: 'img img-circle', size: '200x171')
          .info
            %p.name Tom Depplito
            %p.area Co-Founder/CEO
            %a.facebook{:href => "#"}
              %span.socialicons.ico1
              %span.socialicons_h.ico1h
            %a.twitter{:href => "#"}
              %span.socialicons.ico2
              %span.socialicons_h.ico2h
        .span6.bio_box.bio_boxr
          = image_tag('chris.png', class: 'img img-circle', size: '200x171')
          .info
            %p.name Chris Nixon
            %p.area Co-Founder/CTO
            %a.facebook{:href => "#"}
              %span.socialicons.ico1
              %span.socialicons_h.ico1h
            %a.twitter{:href => "#"}
              %span.socialicons.ico2
              %span.socialicons_h.ico2h
#process
  .container
    .section_header
      %h3 Our Process
    .row.services_circles
      .span4.description
        .text.active
          %h4 Plan what you need.
          %p
            There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to making this the first true generator  Internet.
        .text
          %h4 Develop your product or service.
          %p
            There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to
            making this the first true generator  Internet.
        .text
          %h4 Design this theme to your needs.
          %p
            There are many variations of passages of  this suffered alteration in some form, by injected look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to making this the first true generator  Internet.
      .span7.areas
        .circle.active
          = image_tag('plan.png')
          %span Plan
        .circle
          = image_tag('develop.png')
          %span Develop
        .circle.last_circle
          = image_tag('design.png')
          %span Design
