#contact
  .container
    .lower
      %h2 Get in touch
    .row.contact
      %p
        We'd love to hear from you. Send us a message and will get back promptly.
      = form_tag create_contact_path, method: :post do
        .row.form
          - if @contact
            %ul.alert.alert-danger.alert-block.list-unstyled
              %li= @contact.errors.full_messages.to_sentence(last_word_connector: ' and ')
          .col-md-6.box
            .input-group.row-spacing
              %span.input-group-addon
                %i.fa.fa-user
              = text_field_tag 'contact_us[name]', nil, placeholder: "Name", class: 'form-control'
            .input-group.row-spacing
              %span.input-group-addon
                %i.fa.fa-envelope
              = text_field_tag 'contact_us[email]', nil, placeholder: "Email", class: 'form-control row-spacing'
            .input-group.row-spacing
              %span.input-group-addon
                %i.fa.fa-phone
              = text_field_tag 'contact_us[phone]', nil, placeholder: "Phone", class: 'form-control'
          .col-md-6.box.box_r
            = text_area_tag 'contact_us[message]', nil, :placeholder => "Type a message here...", class: 'form-control', rows: '5'
        .row.submit
          .col-md-3.right
            = submit_tag "Send your message", class: 'btn btn-theme'
  .row.map
    .container
      .col-md-5.box_wrapp
        .box_cont
          .head
            %h6 Contact
          %ul.street
            %li 1114 Sutter Street Apt. 607
            %li City, San Francisco. United States,
            %li Zip Code, CA 94109.
            %li.icon.icontop
              %span.contacticos.ico1
              %span.text 1 631 834 2095
            %li.icon
              %span.contacticos.ico2
              %span.text pickemupteam@gmail.com
          .head.headbottom
            %h6 Work with us
          %p
            Feel free to message or call us at any time. We would be happy to get to know you and make
            your recruiting process faster, easier, better and successful.
    %iframe{:frameborder => "0", :height => "600", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?q=1114%20Sutter%20Street%20San%20Francisco,%20CA%2094109&bav=on.2,or.r_cp.r_qf.&bvm=bv.49784469,d.cGE,pv.xjs.s.en_US.MpiVkF51mpA.O&biw=1440&bih=718&um=1&ie=UTF-8&hl=en&sa=N&tab=wl&output=embed&iwloc=near", :width => "100%"}
