.media
  = link_to image_tag(@company.get_logo, class: 'media-object img-rounded', size: '150x150'), @company.website, target: '_blank', class: 'pull-left'
  .media-body
    .section_header
      %h3.media-heading= @company.name
      - if current_company == @company
        = link_to 'Edit', edit_company_path(id: @company.id), class: 'btn btn-success', style: 'margin-left: 15px;'
      - elsif user_signed_in?
        = link_to 'View Job Listings', company_job_listings_path(company_id: @company.id), class: 'btn btn-success pull-right', style: 'margin-right: 25px;'
    %ul.unstyled
      - if @company.founded
        %li
          %strong Founded:
          #{@company.founded.year}
      %li
        %strong Number of Employees:
        #{@company.num_employees}
      %li
        %strong Industry:
        #{@company.industry}
      %li
        %strong Description:
        #{@company.description.html_safe}
      %li
        %strong Ownership:
        #{@company.public? ? "Public" : "Private"}
      %li
        %strong Tags:
        #{@company.tags.join(', ')}
      %li
        %strong Total Money Raised:
        #{@company.total_money_raised}
      %li
        %strong Competitors:
        %p
          #{@company.competitors.join(', ')}
