.media
  .media-body
    %h2.media-heading= @company.name
    %ul.list-unstyled
      - if @company.founded
        %li
          %p
            %strong Founded
            #{@company.founded.year}
      %li
        %p
          %strong Type
          #{@company.size_definition}
      %li
        %p
          %strong Number of Employees
          #{@company.num_employees}
      %li
        %p
          %strong Industry
          #{@company.industry}
      %li
        %p
          %strong Description
          #{@company.description.try(:html_safe)}
      %li
        %p
          %strong Ownership
          #{@company.public? ? "Public" : "Private"}
      %li
        %p
          %strong Tags
          #{@company.tags.join(', ')}
      %li
        %p
          %strong Total Money Raised
          #{@company.total_money_raised}
      %li
        %p
          %strong Competitors
          #{@company.competitors.join(', ')}
