#housing
  .container
    .pull-right
      - if @company.subscription
        #{link_to "Change Billing Info", edit_company_subscription_path(id: @subscription.id, company_id: @company.id), class: 'btn btn-success'}
      - if current_company.active?
        = link_to 'Deactivate Account', toggle_activation_company_path(id: current_company.id), method: :put, class: 'btn btn-danger', style: 'margin-left: 5px;',
          confirm: 'Are you sure you want to deactivate your account? We will also be sure to put your subscription on hold.'
      - else
        = link_to 'Activate Account', toggle_activation_company_path(id: current_company.id), method: :put, class: 'btn btn-success', style: 'margin-left: 5px;'
    .section_header
      %h3 Company Info
    = form_for @company, html: { class: 'form-horizontal', multipart: true } do |f|
      .control-group
        .controls
          .fileupload.fileupload-new{"data-provides" => "fileupload"}
            .fileupload-new.thumbnail{style: "width: 200px; height: 150px;"}
              = image_tag(@company.logo)
            .fileupload-preview.fileupload-exists.thumbnail{style: "width: 200px; height: 150px;"}
            .clearfix
              %span.btn.btn-primary.btn-file
                %span.fileupload-new Select image
                %span.fileupload-exists Change
                %input{type: 'file', name: 'company[logo]'}/
      .control-group
        = f.label :email, class: 'control-label'
        .controls
          = f.text_field :email
      .control-group
        = f.label :name, class: 'control-label'
        .controls
          = f.text_field :name
      .control-group
        = f.label :description, class: 'control-label'
        .controls
          = f.text_area :description, class: 'ckeditor'
      .control-group
        = f.label :website, class: 'control-label'
        .controls
          = f.text_field :website
      .control-group
        = f.label :industry, class: 'control-label'
        .controls
          = f.text_field :industry
      .control-group
        = f.label "Type", class: 'control-label'
        .controls
          = f.select :size_definition, Preference::COMPANY_TYPES, include_blank: true
      .control-group
        = f.label "Number of Employees", class: 'control-label'
        .controls
          = f.text_field :num_employees
      .control-group
        = f.label "Publicly Held?", class: 'control-label'
        .controls
          = f.check_box :public
      .control-group
        = f.label "Year Founded", class: 'control-label'
        .controls
          = f.date_select :founded, start_year: 1970, end_year: Date.today.year
      %h4 Change Password
      .control-group
        = f.label "New Password", class: 'control-label'
        .controls
          = f.password_field :password
      .control-group
        = f.label "New Password Confirmation", class: 'control-label'
        .controls
          = f.password_field :password_confirmation
      .control-group
        .controls
          = f.submit 'Save Company', class: 'btn', id: 'company_save'
