#housing
  .container
    .row
      .col-md-4.pull-right
        .col-md-12
          .pull-right
            - if user_signed_in?
              = link_to 'View Job Listings', company_job_listings_path(company_id: @company.id), class: 'btn btn-info pull-right row-spacing'
            - if current_company == @company
              = link_to 'Edit Profile', edit_company_path(id: @company.id), class: 'btn btn-info row-spacing'
              - if @company.subscription
                = link_to 'Edit Billing Information', edit_company_subscription_path(company_id: @company.id), class: 'btn btn-info row-spacing'
              - else
                = link_to 'Add Billing Information', company_purchase_options_path(company_id: @company.id), class: 'btn btn-info row-spacing'
        .clearfix
        .col-md-12
          .pull-right
            = link_to image_tag(@company.get_logo, class: 'media-object img-rounded img-preview row-spacing'), @company.website, target: '_blank'
        .clearfix
        .col-md-12
          = render 'sidebar'
      .col-md-8
        = render 'info'
