#housing
  .container-fluid
    .row-fluid
      .span2.pull-right
        = render 'sidebar'
      .span10
        = render 'info'
        .media
          = link_to image_tag(@company.logo, class: 'media-object', size: '150x150'), @company.website, target: '_blank', class: 'pull-left'
          .media-body
            .section_header
              %h3.media-heading= @company.name
              - if company_signed_in? && current_company == @company
                = link_to 'Edit', edit_company_path(id: @company.id), class: 'btn btn-success', style: 'margin-left: 15px;'
            %ul.unstyled
              - if @company.founded
                %li
                  %strong Founded:
                  #{@company.founded.year}
              %li
                %strong Number of Employees:
                #{@company.num_employees}
              %li
                %strong Industry:
                #{@company.industry}
              %li
                %strong Description:
                #{@company.description.try(:html_safe)}
              %li
                %strong Ownership:
                #{@company.public? ? "Public" : "Private"}
              %li
                %strong Tags:
                #{@company.tags.join(', ')}
              %li
                %strong Total Money Raised:
                #{@company.total_money_raised}
              %li
                %strong Competitors:
                %p
                  #{@company.competitors.join(', ')}

        %hr
        .span1
        .span9
          %h4 Job Listings
          = render 'layouts/job_listings'
