%h1= @company.name
= link_to @company.website, @company.website
%table.table
  %tr
    %th Founded:
    %th Number of Employees:
    %th Industry:
    %th Description:
    %th Ownership:
  %tr
    %td= @company.founded.year
    %td= @company.num_employees
    %td= @company.industry
    %td= @company.description
    %td= @company.public? ? "Public" : "Private"

