= render 'shared/stripe_js_head'
#housing
  .container
    .section_header
      %h3 Edit Card Info
    = form_for [@company, @subscription], url: edit_card_company_subscription_path, method: :put, html: { id: 'new_subscription', class: 'form-horizontal' }  do |f|
      .control-group
        = label_tag 'Subscription Plan:', nil, class: 'control-label'
        .controls
          = select_tag :plan, options_for_select([['Plan 1 - $20.00/month', 1], ['Plan 2 - $50.00/month', 2], ['Plan 3 - $100.00/month', 3]], selected: ['Plan 2 - $50.00/month', 2])

      %div{id: "subscription"}
        = render "shared/subscription_form"

      = hidden_field nil, :stripe_card_token
      .control-group
        .controls
          = f.submit 'Update Subscription', class: 'btn'
