= render 'shared/stripe_js_head'
%h2 Edit Card Info
= form_for @subscription, :url => edit_card_subscription_path, :method => 'POST', :html => { :id => 'new_subscription' }  do |f|

  = label_tag 'Subscription Plan:'
  = select_tag :plan, options_for_select([['Plan 1 - $20.00/month', 1], ['Plan 2 - $50.00/month', 2], ['Plan 3 - $100.00/month', 3]], :selected => ['Plan 2 - $50.00/month', 2])

  %div{id: "subscription"}
    = render "shared/subscription_form"

  = hidden_field nil, :stripe_card_token
  = f.submit
