= render "shared/stripe_js_head"
#housing
  .container
    %div{id: "stripe_error"}
    .section_header
      %h3 New Subscription
    .span5.pull-left
      = form_for [@company, @subscription], html: { class: 'form-horizontal' } do |f|
        = hidden_field_tag :plan, @clicked_option

        %div{id: "subscription"}
          = render "shared/subscription_form"

        = hidden_field_tag :email, @company.email
        = hidden_field_tag :company_id, @company.id
        .control-group
          .controls
            = f.submit 'Save Subscription', class: 'btn'
    .span5.pull-left
      %div#in_pricing
        %div.row.charts_wrapp
          - if @clicked_option.to_i == 1
            = render 'layouts/basic_purchase_options_preview'
          - elsif @clicked_option.to_i == 2
            = render 'layouts/midlevel_purchase_options_preview'
          - else
            = render 'layouts/enterprise_purchase_options_preview'
