%p= image_tag attachments['logo.png'].url, :height => '100px', :width => '135px'

%h3 Interview Confirmation with #{@company.name}

%p
  Hey #{@user.name},

%p
  You have successfully setup and confirmed an interview with #{link_to @company.name, company_url(id: @company.id)} for
  #{@job_listing.fulltime? ? 'fulltime ' : 'part-time '}#{@job_listing.remote? ? 'remote ' : ''}#{@job_listing.job_title} - #{@job_listing.locations.present? ? @job_listing.locations.join(', ') : "unspecified location"} at #{@interview.location} on
  #{@interview.request_date.in_time_zone("Eastern Time (US & Canada)").strftime("%m/%d/%Y %I:%M%p")} EST.

  To view a description, and reschedule or cancel this interview, check out the interview information #{link_to 'here', interview_url(id: @interview.id)}.

%p
  Good luck with your interview, please #{link_to 'contact', contact_url} us with any questions,
  concerns, or if you need help preparing for the interview, we are here for you.

%p
  Thanks,
  %br
  Pickemup Team
