#housing
  .container
    = render partial: 'layouts/job_listing', locals: {company: @company, job_listing: @job_listing}
    - if @conversations
      %h4 Current Conversations: #{@conversations.count}
      - @conversations.each do |conversation|
        %section#conversation
          .conversation_full
            .media
              %table{class: 'table table-bordered'}
                %tr
                  %td
                    = link_to company_conversation_path(id: conversation.id, company_id: @company.id) do
                      .pull-left
                        = image_tag(conversation_user(conversation).profile_image, class: 'img-rounded', size: '50x50')
                      .media-body
                        %h4 #{conversation_user(conversation).name}
                        %h6 Subject: #{conversation.subject}
                        %h6 Last updated: #{DateTime.parse(conversation.updated_at.to_s).strftime('%m-%d-%Y')}
