%footer#footer.footer
  .container
    .row.info
      .span4.residence
        %ul
          %li 1114 Sutter Street Apt. 607
          %li United States, San Francisco, CA 94109
      .span3.touchup
        %ul
          %li= link_to 'About', about_path
          %li= link_to 'Contact', contact_path
          %li= link_to 'Pricing', pricing_path
      .span5.touch
        %ul
          %li
            %strong
              P.
            1 631 834 2095
          %li
            %strong
              E.
            pickemupteam@gmail.com
    .row.credits
      .span12
        .row.social
          .span12
            = link_to root_path, class: 'facebook' do
              %span.socialicons.ico1
              %span.socialicons_h.ico1h
            = link_to root_path, class: 'twitter' do
              %span.socialicons.ico2
              %span.socialicons_h.ico2h
            = link_to root_path, class: 'gplus' do
              %span.socialicons.ico3
              %span.socialicons_h.ico3h
        .row.copyright
          .span12
            2013 Pickemup. All rights reserved
