.media{id: listing.id}
  .media-body
    - if company_signed_in? && current_company == @company
      .media-heading
        = link_to 'Edit', edit_company_job_listing_path(id: listing.id, company_id: @company.id), class: 'btn btn-primary'
        = link_to 'Remove', company_job_listing_path(id: listing.id, company_id: @company.id), method: :delete, class: 'btn btn-danger'
        = link_to (listing.active ? 'Deactivate' : 'Activate'), toggle_active_company_job_listing_path(company_id: @company.id, id: listing.id), class: "#{listing.active ? 'btn btn-warning' : 'btn btn-success'}"
    .pull-right
      - if user_signed_in?
        = link_to 'Apply', new_user_message_path(user_id: current_user.id, receiver: @company.id, job_listing_id: listing.id), class: 'btn btn-success'
    %div{class: "#{listing.active ? 'active' : 'deactivated'}"}
      .lead.media-heading= job_listing_title(listing)
      %blockquote
        %p
          #{listing.job_description.html_safe}
      %ul.unstyled
        %li
          %strong Salary Range:
          #{number_to_currency(listing.salary_range_low)} - #{number_to_currency(listing.salary_range_high)}
        %li
          %strong Preferred Languages:
          #{listing.acceptable_languages.join(', ')}
        %li
          %strong Preferred Experience Level:
          #{listing.experience_level.join(', ')}
        %li
          %strong Preferred Practices:
          #{listing.practices.join(', ')}
        %li
          %strong Bonus Points for:
          #{listing.special_characteristics.join(', ')}
        %li
          %strong Job Perks:
          #{listing.perks.join(', ')}
        %li
          %strong Benefits:
          = job_listing_benefits(listing)
