.media{id: job_listing.id}
  .media-body
    - if current_company == company
      .media-heading
        = link_to 'Edit', edit_company_job_listing_path(id: job_listing.id, company_id: company.id), class: 'btn btn-info'
        = link_to 'Remove', company_job_listing_path(id: job_listing.id, company_id: company.id), method: :delete, class: 'btn btn-danger'
        = link_to (job_listing.active ? 'Deactivate' : 'Activate'), toggle_active_company_job_listing_path(company_id: company.id, id: job_listing.id), class: "#{job_listing.active ? 'btn btn-warning' : 'btn btn-success'}", method: :put
        = link_to 'Find Candidates', search_users_company_job_listing_path(id: job_listing.id, company_id: company.id), method: :get, class: 'btn btn-success'
    .pull-right
      - if user_signed_in?
        = link_to 'Apply', new_user_message_path(user_id: current_user.id, receiver: company.id, job_listing_id: job_listing.id), class: 'btn btn-success'
    %div{class: "#{job_listing.active ? 'active' : 'deactivated'}"}
      .lead.media-heading= job_listing_title(job_listing)
      %blockquote
        %p
          #{job_listing.job_description.html_safe}
      %ul.unstyled
        %li
          %strong Salary Range:
          #{number_to_currency(job_listing.salary_range_low)} - #{number_to_currency(job_listing.salary_range_high)}
        %li
          %strong Preferred Languages:
          #{job_listing.acceptable_languages.join(', ')}
        %li
          %strong Preferred Experience Level:
          #{job_listing.experience_levels.join(', ')}
        %li
          %strong Preferred Practices:
          #{job_listing.practices.join(', ')}
        %li
          %strong Bonus Points for:
          #{job_listing.special_characteristics.join(', ')}
        %li
          %strong Job Perks:
          #{job_listing.perks.join(', ')}
        %li
          %strong Benefits:
          = job_listing_benefits(job_listing)
