.navbar.transparent.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to raw('<strong>Pickemup</strong>'), root_path, class: 'brand'
      .nav-collapse.collapse
        %ul.nav.pull-right
          - if user_signed_in?
            %li= image_tag(current_user.profile_image.url(:thumb), class: 'img img-circle', size: '40x40')
            %li= link_to 'Preferences', preferences_user_path(id: current_user.id)
            %li= link_to 'Resume', resume_user_path(id: current_user.id)
            %li.navigation_mailbox= link_to(raw("<span class='badge badge-info'>#{@num_unread_messages}</span> Mailbox"), user_conversations_path(user_id: current_user.id))
            %li.dropdown
              %a.dropdown-toggle.caret-after{'data-toggle' => 'dropdown'}
                %b.caret
              %ul.dropdown-menu
                - @messages.each do |message|
                  %li= link_to message.subject, user_conversation_path(id: message.id, company_id: current_user.id)
          - if company_signed_in?
            - subscription = current_company.subscription
            %li= link_to 'Job Listings', company_job_listings_path(company_id: current_company.id)
            %li.navigation_mailbox= link_to(raw("<span class='badge badge-info'>#{@num_unread_messages}</span> Mailbox"), company_conversations_path(company_id: current_company.id))
            %li.dropdown
              %a.dropdown-toggle.caret-after{'data-toggle' => 'dropdown'}
                %b.caret
              %ul.dropdown-menu
                - @messages.each do |message|
                  %li= link_to message.subject, company_conversation_path(id: message.id, company_id: current_company.id)
            - if subscription
              %li= link_to 'Subscription', edit_company_subscription_path(id: subscription.id, company_id: current_company.id)
            - else
              %li= link_to 'Add Subscription', new_company_subscription_path(company_id: current_company.id)
          %li= link_to 'About', about_path
          - if !user_signed_in? || company_signed_in?
            %li= link_to 'Pricing', root_path
          %li= link_to 'Contact Us', contact_path
          - if user_signed_in?
            - unless current_user.linkedin_synced?
              %li= link_to 'Link Your Linkedin', '/auth/linkedin_oauth2'
            - unless current_user.stackexchange_synced?
              %li= link_to 'Link Your Stackexchange', '/auth/stackexchange'
          - elsif company_signed_in?
            %li= link_to current_company.name || 'Your Company', company_path(id: current_company.id)
          - else
            %li= link_to 'Sign In', sign_in_path
            %li= link_to 'Sign Up', sign_up_path
          - if user_signed_in? || company_signed_in?
            %li= link_to 'Logout', log_out_path
= render 'layouts/messages'
