- if user_signed_in?
  %ul.nav.pull-left
    %li= image_tag(current_user.github_account.profile_image, class: 'img-rounded brand-image')
= link_to 'Pickemup', root_path, class: 'brand'
%ul.nav
  %li= link_to 'My Resume', resume_user_path(id: current_user.id) if user_signed_in?
  %li= link_to 'About', about_path
  %li= link_to 'Contact', contact_path
%ul.nav.pull-right
  - if user_signed_in?
    - unless current_user.has_linkedin_synced?
      %li
        = link_to '/auth/linkedin_oauth2' do
          Link your
          %i.icon-linkedin
    - unless current_user.has_stackexchange_synced?
      %li
        = link_to '/auth/stackexchange' do
          Link your Stackoverflow
    %li= link_to('Logout', log_out_path)
  - else
    %li
      = link_to '/auth/github' do
        Login with
        %i.icon-github
