- if !current_user.active
  %p
    Your account is currently deactivated. To start getting matched with companies again activate your account by clicking
    #{link_to 'here.', toggle_activation_user_path(id: current_user.id)}
- else
  .section_header
    %h3 Your Matches

  %hr
  - if @matchings.present?
    - @matchings.each do |matching|
      .media
        = link_to image_tag("https://s3-us-west-1.amazonaws.com//pickemup/uploads/company/logo/#{matching['company_id']}/#{matching['logo']}", size: '100x100', class: 'img-rounded'), company_path(id: matching['company_id']), class: 'pull-left'
        .pull-right
          .pull-right
            = link_to 'View Listing', company_job_listing_path(company_id: matching['company_id'], id: matching['id']), class: 'btn btn-info'
            = link_to 'Apply', new_user_message_path(user_id: current_user.id, receiver: matching['company_id'], job_listing_id: matching['id']), class: 'btn btn-success'
          .clearfix
          %dl.dl-horizontal
            %dt Locations
            %dd= matching['locations'].join(', ')
            %dt Salary
            %dd= "#{number_to_currency(matching['salary_range_low'])} - #{number_to_currency(matching['salary_range_high'])}"
            %dt Languages
            %dd= truncate_html(matching['acceptable_languages'].join(', '), length: 30, omission: '...and more')
        .media-body
          %h4.media-heading
            .label.label-success{style: 'font-size: 20px;'} #{matching['score']}% Match
            = link_to matching['name'], company_path(id: matching['company_id'])
            %i.icon-hand-right.icon-large
              = link_to "#{matching['job_title']}", company_job_listing_path(company_id: matching['company_id'], id: matching['id'])
          %div
            %p
              = truncate_html(matching['job_description'], length: 150, omission: "...#{link_to 'read more', company_job_listing_path(company_id: matching['company_id'], id: matching['id'])}")
      %hr
  - else
    %p
      Make sure you fill our your preferences to start getting matched with companies.
      You can also start looking around by searching for companies that you may want to apply for.
