- is_user = messages_for.is_a?(User)
%li.dropdown
  = link_to('#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown') do
    %i{class: "icon-envelope #{@unread_messages.present? ? 'notification-indicator unread' : ''}"}
    Mailbox - #{@unread_messages.length}
  %ul.dropdown-menu
    - if is_user
      %li= link_to 'Go To Your Inbox', user_conversations_path(user_id: current_user.id)
    - else
      %li= link_to 'Go To Your Inbox', company_conversations_path(company_id: current_company.id)
    - if @messages.present?
      - @messages.each do |message|
        %li
          - if @unread_messages.include?(message)
            - if is_user
              = link_to raw("<i class='icon-folder-close-alt'></i> " + message.subject), user_conversation_path(id: message.id, user_id: current_user.id)
            - else
              = link_to raw("<i class='icon-folder-close-alt'></i> " + message.subject), company_conversation_path(id: message.id, company_id: current_company.id)
          - else
            - if is_user
              = link_to raw("<i class='icon-folder-open-alt'></i> " + message.subject), user_conversation_path(id: message.id, user_id: current_user.id)
            - else
              = link_to raw("<i class='icon-folder-open-alt'></i> " + message.subject), company_conversation_path(id: message.id, company_id: current_company.id)
